- if params.any?
  .row
    #countdown
.row
  .large-4.small-6.columns.large-centered.small-centered.questions
    .row
      %h3 It's about that time.
    %form{action: '/', method: 'get'}
      .row
        %input#drinks{ name:'drinks', type:'text', placeholder: 'How many drinks?'}
      .row
        %input#hours{ name: 'hours', type:'text', placeholder: 'How long you been drinking?'}
      .row
        %input#sex{ name: 'sex', type:'text', placeholder: 'Male or Female?'}
      .row
        %input#weight{ name: 'weight', type:'text', placeholder:'How much you weigh? (lb)'}
      .row
        #submit
          %input{type: 'submit', class:'small radius button', value: 'Begin the beginning of the end.'}

- if params.any?
  #countdown_to= @countdown_to if @countdown_to.present?
  %script{language: 'javascript', type: 'text/javascript', src: 'js/jquery-2.1.0.min.js'}
  %script{language: 'javascript', type: 'text/javascript', src: 'js/flipclock.min.js'}
  %script{language: 'javascript', type: 'text/javascript', src: 'js/main.js'}
