.row
  .large-4.columns.large-centered.questions
    %h3 It's about that time.
    %form{action: '/', method: 'get'}
      .row
        %input#drinks{ name:'drinks', type:'text', placeholder: 'How many drinks?'}
      .row
        %input#hours{ name: 'hours', type:'text', placeholder: 'How long you been drinking?'}
      .row
        %input#sex{ name: 'sex', type:'text', placeholder: 'Male or Female?'}
      .row
        %input#weight{ name: 'weight', type:'text', placeholder:'How much you weigh? (lb)'}
      .row
        %input{type: 'submit', class:'small radius button', id: 'submit', value: 'Begin the beginning of the end.'}


