#footer {
  text-align: center;
  margin: 130px auto 0 auto ;
}

#logo h1 {
  text-align: center;
  font: 6em solid black;
  margin: 0;
}

/*.questions {*/
  /*margin-top: 25px;*/
/*}*/

.questions h3 {
  text-align: center;
}

#submit {
  text-align: center;
}

#countdown {
  margin: 15px auto 0 auto;
  width: 460px;
  height: 116px;
}
